.onbutton{
    
    background-color:royalblue;
    height: 50px;
    padding-right: 20px;
    border-radius: 10px;
    border: 1px solid black;
    
}

.offbutton{
    
    background-color:royalblue;
    height: 50px;
    padding-right: 20px;
}
div{
	
    border:4px solid red;
    width:800px;
    margin:0 auto;
	background:green;
	color:white;
	border-radius: 25px;
	float:center;
	margin:60px;
	padding: 100px;
}
